:root {
    --main_color: #00F
}

body {
    height: 3000px;
}

* {
    box-sizing: border-box;
    color: var(--main_color)
}

.custom_division,
.custom_paragraph {
    font-weight: bold;
    background-color: var(--main_color);
    color: #FFF
}

.bg_explain {
    height: 500px;
    background-image: linear-gradient(#5d5d5d87, #39393940), url(../images/nature.jpg);
    /* background-image: url(../images/nature_sm.jpg); */
    /* background-repeat: no-repeat; */
    background-position: 14% 25%;
    background-size: cover;
    background-attachment: fixed;
}

.gradient {
    height: 300px;
    width: 300px;
    /* background: linear-gradient(#F00, #00F); */
    /* background: repeating-linear-gradient(#F00, #00F 50%); */
    /* background: radial-gradient(#F00, #00F); */
    /* background: repeating-radial-gradient(#F00, #00F 50%); */
    background: conic-gradient(#F00, #00F);

}

.border_explain {
    height: 100px;
    width: 100px;
    /* border-color: #F00;
    border-width: 15px;
    border-style: solid; */
    border: 15px solid #F00;
}

.radius {
    height: 200px;
    width: 200px;
    background-color: #080;
    border-radius: 20px;
}

.space {
    height: 300px;
    width: 300px;
    background-color: aqua;
    margin-inline-start: 50px;
    padding: 50px;
    border: 10px solid;
}